$color-bg: #111111;
$color-primary: #181818;
$color-secondary: #0004ff;
$text-dark: #ff00aa;
$text-light: #dd57ffd2;
$text-green: rgb(0, 255, 191);
$text-white: white;

$font-main: "Segoe UI", sans-serif;

$spacing: 1rem;
$radius: 10px;
